<div class="position-relative  text-center" style=" background-color: black; color: white">
<div class="col-md-8 p-lg-5 mx-auto my-5">
  <h1 class="display-4 font-weight-small">Welcome in Our Movies Prediction System</h1>
  <p class="lead font-weight-normal">We predict the sucess of a movie using classification algorithmes </p><br>
  <button type="button" class="btn btn-success" (click)="onClick(0)">Predict a Movie of your choice</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-danger" (click)="onClick(1)">Algorithms Evaluation</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-warning" (click)="onClick(2)">Predict from the list</button>&nbsp;&nbsp;&nbsp;
</div>
</div>
